build/
.Xil/
fpga/modules/operator/work/
fpga/sim_lib/
fpga/work/
transcript
software/opl3_standalone_bsp_0/ps7_cortexa9_0/libsrc/standalone_v5_0/src/
fpga/.Xil/
fpga/.srcs/
fpga/.gen/
vivado.jou
vivado.log
fpga/clockInfo.txt
fpga/tight_setup_hold_pins.txt
vitis_project/
BOOT.bin
logs/
software/opl3dro/filesystem.mfs
fpga/NA/ps7_summary.html
.repo.yaml
.peers.ini
.lock
.vscode/
.project
fpga/vsim.wlf
